# Perfect Matching Swiss Tournament Tutorial

In [1]:
from perfect_matching_swiss import Tournament

In [2]:
Tournament.add_player?

In [3]:
# Create tournament
to = Tournament()

In [4]:
# Change settings
to.win_pts = 1
to.draw_pts = 0.5
to.bye_pts = 1
to.home_away = True

In [5]:
players = ['Carlsen','Caruana','Nakamura','Ding','Giri','Firouzja','Nepomniachtchi','So','Wei','Anand']

In [6]:
# Add players to tournament
for player in players:
    to.add_player(player)

In [7]:
# Obtain list of players
to.player_dict.keys()

dict_keys(['Carlsen', 'Caruana', 'Nakamura', 'Ding', 'Giri', 'Firouzja', 'Nepomniachtchi', 'So', 'Wei', 'Anand'])

In [8]:
# Create fixtures
to.create_fixtures()

# View fixtures
to.pending_fixture_list
# Format: (Home, away, round/matchday)

[('Giri', 'Firouzja', 1),
 ('So', 'Caruana', 1),
 ('Carlsen', 'Anand', 1),
 ('Ding', 'Nepomniachtchi', 1),
 ('Nakamura', 'Wei', 1)]

In [9]:
# Report fixture result
to.report_result({'Giri': 0.5, 'Firouzja': 0.5})
to.report_result({'So': 0.5, 'Caruana': 0.5})
to.report_result({'Carlsen': 0, 'Anand': 1})
to.report_result({'Ding': 0, 'Nepomniachtchi': 1})
to.report_result({'Nakamura': 1, 'Wei': 0})

In [10]:
# View table
to.league_table()

           player seed sonneborn-berger points
0        Nakamura    0                0      1
1  Nepomniachtchi    0                0      1
2           Anand    0                0      1
3         Caruana    0             0.25    0.5
4            Giri    0             0.25    0.5
5        Firouzja    0             0.25    0.5
6              So    0             0.25    0.5
7         Carlsen    0                0      0
8            Ding    0                0      0
9             Wei    0                0      0